@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
}

.block-text {
  width: 90%;
  text-align: center;
}

.horizontal-bar {
  color: #e95841;
  border: 2px solid #e95841;
  background-color: #e95841;
  line-height: 0%;
}

button,
a {
  min-width: 75px;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 0.8rem;
  border: 1px #ccc solid;
  text-decoration: none;
}

button:hover,
a:hover {
  box-shadow: 2px 2px 2px #888888;
}

.btn1 {
  background: linear-gradient(#e95841, #e94b63);
  color: white;
}

.first-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.right > h1,
h2,
p {
  margin-bottom: 10px;
}

.right > h2 {
  font-size: 0.8rem;
}

.block {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 25%;
  height: 25%;
}

#hero-pic {
  width: 50%;
}

#icon {
  font-size: 40px;
  margin: 0 5px;
}

#project-pic {
  width: 80%;
  padding: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

footer {
  background: linear-gradient(#e95841, #e94b63);
  color: white;
  min-height: 15vh;
  text-align: center;
  margin-top: 20px;
}

footer > p {
  padding: 30px;
  width: 100%;
}

.process-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin: 10px;
  min-height: 30vh;
  border: 2px solid black;
  border-radius: 15px;
}

.fifth-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid black;
  border-radius: 10px; */
  margin-top: 30px;
}

.fifth-section > h1 {
  margin: 2%;
}

.process-card-wrapper {
  display: flex;
  flex-direction: column;
}

.cont {
  display: flex;
  flex-direction: column;
}

.cont label {
  margin-bottom: 10px;
}

.cont label,
input {
  display: block;
}

.cont input {
  width: 300px;
  height: 25px;
}

.cont textarea {
  width: 300px;
  height: 100px;
  padding: 5px;
}

.cont .form-field {
  margin-bottom: 10px;
}

.lets-work {
  margin-top: 10px;
}

.tell-me {
  width: 65%;
  align-self: flex-start;
}

.orange {
  color: #e95841;
  font-size: 0.9em;
  align-self: flex-start;
  margin-left: 10%;
}

@media screen and (min-width: 1000px) {
  .process-card {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .fifth-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid black;
    border-radius: 10px; */
    margin-top: 30px;
  }

  .fifth-section > h1 {
    margin: 2%;
  }

  .process-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #logo {
    width: 10%;
    height: 10%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  .first-section {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }

  .block {
    width: 49%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .six-section {
    justify-content: flex-start;
    padding-left: 10%;
  }

  button {
    min-width: 150px;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1rem;
    border: 1px #ccc solid;
  }

  .second-section {
    display: flex;
    margin-top: 25px;
    min-height: 50vh;
  }

  .third-section {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 25px;
    min-height: 50vh;
  }

  .fourth-section {
    display: flex;
    margin-top: 25px;
    min-height: 50vh;
  }

  .six-section {
    display: flex;
    margin-top: 25px;
    min-height: 50vh;
  }
}
